/* FONTS
font-family: 'Diplomata SC', Garamond, cursive;
font-family: 'EB Garamond', Garamond, serif;
*/


.menu-top {
    overflow: hidden;
    background-color: pink;
    position: relative;
}

.menu-top #menu-links {
    display: none;
}


body {
    font-family: 'Diplomata SC', Garamond, cursive;
    background-color: #363062;
    color: #E9D5CA;
    text-align: center;
}

a:visited {
    color: #E9D5CA;
}

.header-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.fleurdelis-left {
    width: 1.5em;
    height: 1.5em;
    margin: .5em;
    display: block;
}

.fleurdelis-right {
    width: 1.5em;
    height: 1.5em;
    margin: .5em;
    display: none;
}

nav {
    display: none;
}

.hamburger-menu {
    width: 1.5em;
    height: 1.5em;
    margin: .5em;
    background-color: #363062;
    border-radius: 5px;
}

.hamburger-lines {
    width: 1.5em;
    height: .25em;
    margin: .25em 0;
    background-color: #E9D5CA;
    border-radius: 5px;
}


.hamburger-menu:hover .hamburger-lines {
    background-color: #827397;
}
.page-header {
    font-size: 1.5em;
    margin: .5em;
}

#date-display2 {
    font-family: 'EB Garamond', Garamond, serif;
}

nav > .month-menu {
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color:#E9D5CA;
    background-color: #827397;
}

.month-menu > li:hover {
    color: #827397;
    background-color: #E9D5CA;
}

main {
    display: flex;
    background-color: #E9D5CA;
    border-radius: 1%;
}

.main-container {
    font-family: 'EB Garamond', Garamond, serif;
    background-color: #4D4C7D;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: .5em;
    border-radius: 1%;
}

.newspaper-header {
    font-weight: 700;
    margin: auto;

}

#article-title,
#article-subtitle {
    margin: 0.25em;
}

.newspaper-body {
    font-weight: 400;
    margin: auto 0.25em;
    text-indent: 1em;
    text-align: left;
}

.newspaper-footer {
    font-weight: 400;
    margin: auto 1em;
    display: flex;
    flex-direction: column;
    font-size: .75em;
}

#article-paper,
#article-date {
    margin: .25em auto;
}

#article-page {
    margin: .25em auto .5em;
}

footer {
    font-family: 'EB Garamond', Garamond, serif;
    margin-top: .5em;
    font-size: .75em;
}


/*color palette from Color Hunt – https://colorhunt.co/palette/e9d5ca8273974d4c7d363062 
#E9D5CA
#827397
#4D4C7D
#363062
*/


/*tablet query*/
@media only screen and (min-width: 768px) {

    .fleurdelis-right {
        display: block;
    }

    .hamburger-menu {
        visibility: hidden;
    }

    main {
        background-image: url(../images/1922Louisville2.jpg);
        /*Image Credits
    Kentucky scenes: Main Street, Louisville, showing Carter Dry Good Co.
    Photographer: Caulfield & Shook
    Year: circa. 1922
    Rights: Public Domain
    Source: Library of Congress
    Source URL: https://www.loc.gov/item/2016649430/ */
    }

    .main-container {
        margin: 1em 5em 5em;
    }

    .newspaper-body {
        font-size: 1.15em;
    }

    .newspaper-footer {
        font-weight: 400;
        margin: auto 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: .90em;
    }

    footer {
        font-size: .90em;
    }

}

/*desktop query*/
@media only screen and (min-width: 992px) {
    .fleurdelis-left {
        width: 5em;
        height: 5em;
    }

    .fleurdelis-right {
        width: 5em;
        height: 5em;
    }

    .page-header {
        font-size: 2.5em;
    }

    .main-container {
        margin: 1em 5em 175px;
    }

    .newspaper-body {
        font-size: 1.25em;
    }

    .newspaper-footer {
        font-size: 1em;
    }

    #article-paper,
    #article-date,
    #article-page {
        margin: 1em;
    }

    footer {
        font-size: 1em;
    }

}